// Tabula rasa
@import "../../bower_components/tink-core/dist/tink/variables";
@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";


.fieldset-editable {
  border-radius: $border-radius-base;
  padding: rem(15);

  label {
    color: $gray;
    font-weight: normal;
    line-height: $line-height-base;
    margin: 1px 0 0; // Corrects border of input field
    padding: rem($padding-base-vertical $padding-base-horizontal 0 0);
  }

  // Style the edit icon behind an inputfield
  .edit-icon {
    color: $gray-light;
    position: absolute;
    right: rem(25);
    top: rem(5);
    // pointer-events: none;
    z-index: -1;
  }

  .btn-transparent {
    background-color: transparent;
    border: none;
    color: $brand;
    font-weight: normal;

    &:hover {
      background-color: rgba($black, .1);
      // color: $white;
    }
  }

  .fieldset-editable-buttons {
    display: none;
    padding-top: rem(8);
  }

  /**
   * States
   */

  // Normal state
    input,
    .faux-input,
    select,
    textarea {
      background-color: transparent;
      border: 1px solid transparent;

      &[disabled] {
        background-color: transparent;
        cursor: default;
      }
    }
  // }

  // Hovered state
  &-is-hovered {
    input,
    .faux-input,
    select,
    textarea {
      border: 1px solid rgba($input-border, .40);

      &[disabled] {
        background-color: transparent;
        border: 1px solid transparent;
        cursor: default;
      }

      &:hover {
        border: 1px solid $input-border;

        &[disabled] {
          border: 1px solid transparent;
        }
      }
    }
  }

  // Active state
  &-is-active {
    // @extend .formfield-is-hovered;
    background-color: $gray-lighter;

    input,
    .faux-input,
    select,
    textarea {
      background-color: $white;
      border: 1px solid $input-border;

      &[disabled] {
        border: 1px solid transparent;
      }
    }

    .fieldset-editable-buttons {
      display: block;
    }
  }
}




  // // Position the cancel element
  // .cancel {
  //   padding: 0;
  //   position: relative;
  //   top: rem(5);
  // }