// Tabula rasa
@import "../../bower_components/tink-core/dist/tink/variables";
@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";


.fieldset-editable {
  border-radius: $border-radius-base;
  margin: rem(8 0);
  padding: rem(15);
  transition: all $animation-speed linear;

  label {
    color: $gray;
    font-weight: normal;
    line-height: $line-height-base;
    margin: 1px 0 0; // Corrects border of input field
    padding: rem($padding-base-vertical $padding-base-horizontal 0 0);
  }

  input[type="checkbox"],
  input[type="radio"] {
    + label {
      color: $text-color;
      margin-left: rem(5);
    }
  }

  // Style the edit icon behind an inputfield
  .empty-icon {
    display: none;
    position: absolute;
    left: rem(26);
    top: rem(7);
    z-index: -1;
  }

  .edit-icon {
    color: $gray-light;
    position: absolute;
    right: rem(22);
    top: rem(6);
    z-index: -1;
  }

  .add-icon {
    color: $link-color;
    display: none;
    position: absolute;
    right: rem(22);
    top: rem(7);
    z-index: -1;
  }

  .btn-transparent {
    background-color: transparent;
    border: none;
    color: $brand;
    font-weight: normal;

    &:hover {
      background-color: rgba($black, .1);
    }
  }

  .fieldset-editable-buttons {
    visibility: hidden;
  }

  .anchor-add {
    margin: 1px;
    padding: rem($padding-base-vertical $padding-base-horizontal);
  }

  .input-add {
    display: none;
  }

  /**
   * States
   */

  // Normal state
  input,
  .faux-input,
  select,
  textarea {
    background-color: transparent;
    border: 1px solid transparent;

    &[disabled] {
      background-color: transparent;
      cursor: default;
    }

    // &[value=''] {
    &:invalid {
      ~ .empty-icon {
        display: block;
      }
      ~ .edit-icon {
        display: none;
      }
      ~ .add-icon {
        display: block;
      }
    }
  }

  // Hovered state
  &-is-hovered {
    input,
    .faux-input,
    select,
    textarea {
      border: 1px solid rgba($input-border, .40);

      &[disabled] {
        background-color: transparent;
        border: 1px solid transparent;
        cursor: default;
      }

      &:hover {
        border: 1px solid $input-border;

        &[disabled] {
          border: 1px solid transparent;
        }
      }
    }
  }

  // Active state
  &-is-active {
    background-color: $gray-lighter;

    hr {
      border-top-color: $gray-light;
    }

    input,
    .faux-input,
    select,
    textarea {
      background-color: $white;
      border: 1px solid $input-border;

      &[disabled] {
        border: 1px solid transparent;
      }
    }

    legend,
    .legend {
      border-bottom-color: $gray-light;
    }

    .fieldset-editable-buttons {
      visibility: visible;
    }
  }

  // &:not(.fieldset-editable-is-hovered),
  // &:not(.fieldset-editable-is-active) {
  //   textarea {
  //     resize: none;
  //   }
  // }
}

.legend {
  border-bottom: 1px solid $legend-border-color;
  color: $legend-color;
  font-size: rem($font-size-base * 1.5);
  line-height: inherit;
  margin: rem(32 0 $line-height-computed);
}
