<div class="container margin-top margin-bottom">
  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <h2>Rizvanovic Zera</h2>
      <form id="form">
        <div class="fieldset-editable" tink-fieldset-editable>
          <fieldset>
            <legend>Algemeen</legend>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field1">Type</label>
              </div>
              <div class="col-xs-8">
                <input type="text" name="field1" id="field1" value="Mutualiteit" required>
                <span class="empty-icon">-</span>
                <span class="edit-icon"><i class="fa fa-pencil"></i></span>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field2">Insteling</label>
              </div>
              <div class="col-xs-8">
                <div class="select">
                  <select name="field2" id="field2">
                    <option value="Christelijke Mutualiteit">Christelijke Mutualiteit</option>
                    <option value="Socialistische Mutualiteit">Socialistische Mutualiteit</option>
                    <option value="Liberale Mutualiteit">Liberale Mutualiteit</option>
                    <option value="Onafhankelijk Ziekenfonds">Onafhankelijk Ziekenfonds</option>
                    <option value="Neutraal Ziekenfonds">Neutraal Ziekenfonds</option>
                    <option value="Andere">Andere</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field3">Adres</label>
              </div>
              <div class="col-xs-8">
                <input type="text" name="field3" id="field3" value="Molenbergstraat 2" required>
                <span class="empty-icon">-</span>
                <span class="edit-icon"><i class="fa fa-pencil"></i></span>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-8 col-xs-push-4">
                <input type="text" name="field4" id="field4" value="2000 Antwerpen" required>
                <span class="empty-icon">-</span>
                <span class="edit-icon"><i class="fa fa-pencil"></i></span>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field5">Telefoonnr.</label>
              </div>
              <div class="col-xs-8">
                <input type="text" name="field5" id="field5" value="03/303.33.03" required>
                <span class="empty-icon">-</span>
                <span class="edit-icon"><i class="fa fa-pencil"></i></span>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field6">Opmerking</label>
              </div>
              <div class="col-xs-8">
                <textarea name="field6" id="field6" rows="4" required></textarea>
                <span class="empty-icon">-</span>
                <span class="edit-icon"><i class="fa fa-pencil"></i></span>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field7">Betaalwijze</label>
              </div>
              <div class="col-xs-8">
                <div class="select">
                  <select name="field7" id="field7">
                    <option value="Cash">Cash</option>
                    <option value="Bancontact">Bancontact</option>
                    <option value="Maestro">Maestro</option>
                    <option value="VISA">VISA</option>
                    <option value="Paypal">Paypal</option>
                    <option value="Andere">Andere</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- <hr> -->



            <h2 class="legend">Personalia</h2>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field8">Lidnummer</label>
              </div>
              <div class="col-xs-8">
                <input type="text" name="field8" id="field8" value="" required>
                <span class="empty-icon">-</span>
                <span class="edit-icon"><i class="fa fa-pencil"></i></span>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field9">Datum aansluiting</label>
              </div>
              <div class="col-xs-8">
                <div class="hover-helper">
                  <data-tink-datepicker data-ng-model="selectedDate1"></data-tink-datepicker>
                </div>
                <!-- <input type="text" name="field9" id="field9" value="" required> -->
                <span class="empty-icon">-</span>
                <!-- <span class="edit-icon"><i class="fa fa-pencil"></i></span> -->
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field10">Soort aansluiting</label>
              </div>
              <div class="col-xs-8">
                <input type="text" name="field10" id="field10" value="" required>
                <span class="empty-icon">-</span>
                <span class="edit-icon"><i class="fa fa-pencil"></i></span>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field11">Toestand</label>
              </div>
              <div class="col-xs-8">
                <div class="select">
                  <select name="field11" id="field11">
                    <option value="In orde">In orde</option>
                    <option value="Niet in orde">Niet in orde</option>
                    <option value="Niet geweten">Niet geweten</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field12">Bijdrage</label>
              </div>
              <div class="col-xs-8">
                <input type="text" name="field12" id="field12" value="" required>
                <span class="empty-icon">-</span>
                <span class="edit-icon"><i class="fa fa-pencil"></i></span>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-4">
                <label for="field13">Recht op regeling</label>
              </div>
              <div class="col-xs-8">
                <div class="checkbox">
                  <input type="checkbox" id="checkbox1" name="checkbox1" value="yes" checked>
                  <label for="checkbox1">Option one</label>
                </div>
              </div>
            </div>


            <!-- <hr>
            <div class="row form-group">
              <div class="col-xs-4">
                <label for="dateofdeath">Datum overlijden</label>
              </div>
              <div class="col-xs-8">
                <div class="anchor-add">
                  <a href="" title="Datum overlijden toevoegen">+ toevoegen</a>
                </div>
                <div class="input-add">
                  <input type="text" name="dateofdeath" id="dateofdeath" value="">
                  <span class="edit-icon"><i class="fa fa-pencil"></i></span>
                </div>
              </div>
            </div> -->
          </fieldset>

          <div class="fieldset-editable-buttons">
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <button type="submit" class="btn-primary btn-submit" type="submit" disabled>Wijzigingen opslaan</button>
                <a href="" class="btn btn-transparent btn-cancel">Annuleren</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
